/* Order Button */

.button-main {
  margin: 10px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  letter-spacing: 0.02rem;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-main:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-main:active {
  transform: scale(0.95);
}

.button_seeMenu {
  font-size: larger;
  text-transform: none;
  min-width: 25%;
}


/* Icon Button */

.icon-button {
  height: 40px;
  background-color: var(--orange);
  border: none;
  padding: 0rem 0.7rem;
  margin-left: 1rem;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.icon-button:hover {
  background-color: #e69500; /* Darker orange */
}

@media only screen and (max-width: 600px) {
 }

