@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");

:root {
  --black: #000000;
  --white: #fff;
  --orange: #ffa500;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

li,
a {
  list-style: none;
  text-decoration: none;
  color: var(--white);
}

/* Element Hide and Facde Styles */

.hidden {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}
/*  */

/* Section Title Wrapper Styles */

.sectionTitleWrapper {
  padding: 2rem;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-color: var(--orange);
}

/*  */

/* Page \/ */

html,
body {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  line-height: 1.5;
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  color: var(--white);
  background-color: var(--black);
}

/* Header */

.header,
.nav {
  display: flex;
  align-items: center;
}

.header {
  position: fixed;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 7vh;
  background-color: var(--black);
  padding: 0.5rem;
  z-index: 100;
}

.logo {
  color: var(--white);
  font-weight: 600;
  font-size: xx-large;
  letter-spacing: 0.15rem;
}

/* Banner */

.banner {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)),
    url("/public/img/background_banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bannerIntro {
  width: 50%;
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bannerIntroTitle {
  width: 100%;
  padding-inline: 1rem;
  font-family: "Italiana", sans-serif;
  font-size: 3rem;
  text-align: center;
}

.highlight {
  color: var(--orange);
}

/* Menu - Title */

/*  */

/* Menu - Section */

.menu-grid-container {
  width: 100%;
  max-width: 100%;
  padding: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  box-sizing: border-box;
}

.grid-item {
  outline: solid 0.1rem var(--orange);
  display: grid;
  grid-template-rows: auto 0.5fr;
  padding: 1rem;
  border-radius: 10px;
}

.product-img {
  width: 100%;
  height: auto;
}

.product-price-button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-price {
  font-size: 1.15rem;
}

/*  */

/* Reviews Title */

/*  */

/* Reviews Section */

.reviewsSection {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-container {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.swiper-slide {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--black);
  color: var(--white);
}

.innerSlide {
  outline: solid 0.1rem var(--orange) !important;
  border-radius: 10px;
  width: 50%;
  max-width: 50%;
  height: auto;
}

.innerSlide img {
  margin: 10px 20px 1px 10px;
  width: 10%;
  clip-path: circle();
}

.swiperText {
  padding-inline: 1rem;
  margin-bottom: 5px;
}

.checked {
  color: orange;
}

.centered {
  display: flex;
  align-items: center;
}

.reviewerName {
  margin: 0px 15px 20px 10px;
  line-height: 0;
  text-align: end;
}

/*  */

/* Footer */

.footer {
  width: 100%;
  max-width: 100%;
  background-color: var(--black);
  margin-top: 10rem;
  padding: 0.5rem;
}

.footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0.1rem solid var(--orange);
  border-bottom: 0.1rem solid var(--orange);
}

.footer-nav li {
  padding: 2.5rem;
  font-size: 1.5rem;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-color: var(--orange);
  text-align: center;
}

.footer-nav li i {
  padding-inline: 0.5rem;
}

.footer-arrow {
  color: var(--orange);
}

.no-underline {
  text-decoration: none !important;
}

.copyright {
  color: var(--white);
  text-align: center;
}

@media only screen and (max-width: 600px) {
  /* Banner */
  .banner {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)),
      url(/public/img/mobile_background_banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .bannerIntro {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    padding-top: 0;
  }

  .bannerIntroTitle {
    margin: 0;
  }

  /* Menu */

  .menu-grid-container {
    grid-template-columns: 1fr;
  }

  /* Reviews */

  .innerSlide {
    width: 100%;
    max-width: 100%;
  }

  /* footer */

  .footer {
    width: 100%;
    max-width: 100%;
    background-color: var(--black);
    margin-top: 0rem;
    padding: 0.5rem;
  }

  .footer-nav {
    padding: 0;
    flex-direction: column;
  }

  .footer-nav li {
    padding: 1rem;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .menu-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
